@model IEnumerable<RadioWeb.Models.Estadistica.ItemResumen>




<table id="tblMensual" class="table table-bordered table-striped  " data-search="true">
    <thead>
        <tr>

            <th>Grupo</th>
            <th data-sortable="true">Mes</th>
            <th align="right" data-type="numeric" class="text-right">Media @ViewBag.Comparado</th>
            <th align="right" data-type="numeric" class="text-right">Exp @ViewBag.Comparado</th>
            <th align="right" data-type="numeric" class="text-right">Consu @ViewBag.Comparado</th>
            <th align="right" data-type="numeric" class="text-right">Total @ViewBag.Comparado</th>
            <th align="right" data-type="numeric" class="text-right">Media @ViewBag.Actual</th>
            <th align="right" data-type="numeric" class="text-right">Exp @ViewBag.Actual</th>
            <th align="right" data-type="numeric" class="text-right">Consu @ViewBag.Actual</th>
            <th align="right" data-type="numeric" class="text-right">Total @ViewBag.Actual</th>
            <th align="right" data-type="numeric" class="text-right">Dif</th>
            <th align="right" data-type="numeric" class="text-right">Dif%</th>
            <th align="right" data-type="numeric" class="text-right">Actividad @ViewBag.Comparado</th>
            <th align="right" data-type="numeric" class="text-right">Actividad @ViewBag.Actual </th>
            <th align="right" data-type="numeric" class="text-right">Dif</th>
            <th align="right" data-type="numeric" class="text-right">Dif%</th>
        </tr>
    </thead>
    <tbody>
        @{

            foreach (RadioWeb.Models.Estadistica.ItemResumen item in Model)
            {

                <tr class="@(item.Grupo == "TOTAL" ? "totalStats" : "")">
                    @*columna grupo*@
                    <td class="totalResumen">
                        @if (item.Grupo == "TOTAL")
                        {
                            @:TOTALES
                        }
                        else
                        {
                            @item.Grupo

                        }
                    </td>
                    @*columna indicando el total global o el mes*@
                    <td style="font-weight:bold;" data-mes="@item.MesNumero">@item.Mes</td>
                    @*valor del promedio de ventas de exploracoines del año anterior*@
                    <td align="right">

                        @Html.CurrencyWithCulture(item.PromedioVentas2)


                    </td>
                    @*valor de las ventas de exploracoines del año anterior*@
                    <td align="right">

                        @Html.CurrencyWithCulture(item.Venta2)

                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Mes" class="mesNombre" />
                            <input type="hidden" value="@item.Venta2" class="exploracionesAnualValorAnterior" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Mes" class="mesNombreFiltrado" />
                            <input type="hidden" value="@item.Venta2" class="exploracionesValorAnterior" />

                        }

                    </td>
                    @*valor de las ventas de consumibles del año anterior*@
                    <td align="right">
                        @Html.CurrencyWithCulture(item.Venta2Consum)

                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Venta2Consum" class="consumiblesAnualValorAnterior" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Venta2Consum" class="consumiblesValorAnterior" />

                        }


                    </td>
                    @*valor de las ventas de exploraciones + consumibles del año anterior*@
                    <td class="totalResumen" align="right">
                        @Html.CurrencyWithCulture(item.Venta2Total)
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Venta2Total" class="totalAnualValorAnterior" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Venta2Total" class="totalValorAnterior" />

                        }
                    </td>
                    @*valor del promedio de ventas de exploracoines del año atual*@
                    <td align="right">

                        @Html.CurrencyWithCulture(item.PromedioVentas)


                    </td>
                    @*valor de las ventas de exploracoines del año actual*@
                    <td align="right">
                        @Html.CurrencyWithCulture(item.Ventas)
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Ventas" class="exploracionesAnualValorActual" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Ventas" class="exploracionesValorActual" />

                        }
                        @*@string.Format("{0:C}", item.Ventas)*@

                    </td>
                    @*valor de las ventas de consumibles del año actual*@
                    <td align="right">
                        @Html.CurrencyWithCulture(item.VentaConsum)
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.VentaConsum" class="consumiblesAnualValorActual" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.VentaConsum" class="consumiblesValorActual" />

                        }
                        @* @string.Format("{0:C}", item.VentaConsum)*@

                    </td>
                    @*valor de las ventas de consumibles + exploraciones del año actual*@

                    <td class="totalResumen" align="right">
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.VentaTotal" class="totalAnualValorActual" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.VentaTotal" class="totalValorActual" />

                        }

                        @*@string.Format("{0:C}", item.VentaTotal)*@
                        @Html.CurrencyWithCulture(item.VentaTotal)

                    </td>



                    <td>

                        <div class="stat-percent font-bold @(item.DiferenciaVentas>0 ? "text-navy" : "text-danger") ">
                            @Html.CurrencyWithCulture(item.DiferenciaVentas)

                            <i class="fa  @(item.DiferenciaVentas>0 ? "fa-level-up" : "fa-level-down")"></i>
                        </div>

                    </td>
                    <td>
                        <div class="stat-percent font-bold @(item.DiferenciaVentasPorc>0 ? "text-navy" : "text-danger") ">
                            @item.DiferenciaVentasPorc%
                            <i class="fa  @(item.DiferenciaVentasPorc>0 ? "fa-level-up" : "fa-level-down")"></i>
                        </div>

                    </td>
                    @*Año anterior*@
                    <td class="totalResumen" align="right">
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Cuenta2" class="exploracionesAnualCuentaAnterior" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Cuenta2" class="exploracionesCuentaAnterior" />

                        }
                        @item.Cuenta2
                    </td>
                    <td class="totalResumen" align="right">
                        @if (item.Grupo == "TOTAL")
                        {
                            <input type="hidden" value="@item.Cuenta" class="exploracionesAnualCuentaActual" />
                        }
                        else
                        {
                            <input type="hidden" value="@item.Cuenta" class="exploracionesCuentaActual" />

                        }
                        @item.Cuenta
                    </td>

                    <td align="right">
                        <div class="stat-percent font-bold @(item.DiferenciaCuenta>0 ? "text-navy" : "text-danger") ">
                            @item.DiferenciaCuenta
                            <i class="fa  @(item.DiferenciaCuenta>0 ? "fa-level-up" : "fa-level-down")"></i>
                        </div>

                    </td>
                    <td align="right">
                        <div class="stat-percent font-bold @(item.DiferenciaCuentaPorc>0 ? "text-navy" : "text-danger") ">
                            @item.DiferenciaCuentaPorc %
                            <i class="fa  @(item.DiferenciaCuentaPorc>0 ? "fa-level-up" : "fa-level-down")"></i>
                        </div>

                    </td>
                </tr>


            }


        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>

@helper RenderHiddenInputs(string groupName, dynamic value, string valueClass, string nameClass)
{
    if (groupName == "TOTAL")
    {
        <input type="hidden" value="@value" class="@valueClass" />
    }
    else
    {
        <input type="hidden" value="@value" class="@nameClass" />
    }
}


