@model RadioWeb.Utils.ResumenDiario
<div class="full-height-scroll">

        <table id="tableResumen" class="table table-condensed table-striped table-bordered ">
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Total</th>
                    <th>Aparato</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.oGrupoResumen)
                {
                    RadioWeb.Utils.Grupo oGrupoAparatos = item;            
                    <tr>
                        <td>@item.Descripcion</td>
                        <td>@item.CuentaTotal</td>
                        <td>@item.lAparatos.First().Descripcion</td>
                        <td>@item.lAparatos.First().Cuenta</td>
                    </tr>            
                    for (int i = 1; i <= item.lAparatos.Count() - 1; i++)
                    {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @item.lAparatos[i].Descripcion
                        </td>
                        <td>@item.lAparatos[i].Cuenta</td>
                    </tr>
                    }
                }

            </tbody>
        </table>

    </div>

