@model  RadioWeb.ViewModels.Permisos.VMPermisos

@{
    ViewBag.Title = "Permisos Roles";
}

@section estilos{

    <link href="~/css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">

}
<div class="row">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-permisos"><i class="fa fa-list-ul"></i>Permisos</a>
            </li>

            <li>

                <a data-toggle="tab" href="#tab-usuarios"><i class="fa fa-user"></i>Usuarios</a>
            </li>

            <li>
                <a data-toggle="tab" href="#tab-menus"><i class="fa fa-navicon"></i>Menus</a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="tab-permisos" class="tab-pane active">
                <div class="panel-body">
                    @using (Ajax.BeginForm("Index",
"Permisos",
new AjaxOptions
{
HttpMethod = "POST",
UpdateTargetId = "tablaResultado",
OnSuccess = "PermisosSuccess(data)",
OnFailure = "OnFailure"
}, new { @class = "form-inline" }))
                    {

                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => Model.IOR_ROLE,
                                    new SelectList(Model.Roles.OrderBy(p => p.NOME), "IDUSER", "NOME"),
                                    new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <button id="BuscarPermisos" class="btn btn-primary" type="submit">Buscar</button>
                            </div>

                        </div>
                        <hr />
                        <div id="tablaResultado">

                        </div>

                    }

                </div>
            </div>
            <div id="tab-usuarios" class="tab-pane">

                <div class="panel-body">
                    @using (Ajax.BeginForm("List", "Users",
new AjaxOptions
{
HttpMethod = "POST",
UpdateTargetId = "tablaResultadoUsuario",
InsertionMode = InsertionMode.Replace,
OnSuccess = "MenuSuccessUsuario(data)",
OnFailure = "OnFailure",
OnComplete = "MenuCompleteUsuario"
}, new { @class = "form-horizontal", action = Url.Action("List", "Users") }))
                    
                        {
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-horizontal" id="DetailInforme">
                                        <div class="form-group ">
                                            <div class="col-sm-4">

                                                <label for="IOR_ROLE3" class="control-label">Rol/Perfil</label>
                                                <select name="IOR_ROLE3" id="IOR_ROLE3" class="form-control select2">
                                                    <option value="-1">TODOS</option>
                                                    @foreach (USUARIO item in Model.Roles.OrderBy(p => p.NOME))
                                                    {
                                                        <option value="@(item.IDUSER)">@item.NOME</option>
                                                    }

                                                </select>
                                            </div>

                                            <div class="col-sm-3">
                                                <label for="TipoUsuario">Tipo de Usuario</label>
                                                <select name="TipoUsuario" id="TipoUsuario" class="form-control select2">
                                                    <option value="TODOS">Todos</option>
                                                    <option value="1">Centro</option>
                                                    <option value="2">Módulo de Citación Externo</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-3">
                                                <label for="SearchTerm" class="control-label">Buscar Usuario</label>
                                                <input type="text" name="SearchTerm" id="SearchTerm" class="form-control" placeholder="Buscar por Login o Nombre" />

                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>&nbsp;</label> <!-- Espaciado para alinear el botón con los inputs -->
                                                    <button id="BuscarUsuarios" class="btn btn-primary btn-block" type="submit">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <hr />

                            <!-- Contenedor para resultados -->
                            <div id="tablaResultadoUsuario">
                            </div>
                        }

                    </div>
                </div>


            <div id="tab-menus" class="tab-pane">
                <div class="panel-body">
                    @using (Ajax.BeginForm("Menus",
            "Permisos",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "tablaResultadoMenus",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "MenusSuccess(data)",
                OnFailure = "OnFailure"

            }, new { @class = "form-inline" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <select name="IOR_ROLE2" id="IOR_ROLE2" class="form-control  select2">
                                    @foreach (USUARIO item in Model.Roles.OrderBy(p => p.NOME))
                                    {

                                        <option value="@(item.IDUSER)">@item.NOME</option>
                                    }
                                </select>

                                <span class="input-group-btn">
                                    <button id="BuscarMenusPermitidos" class="btn btn-primary" type="submit">Buscar</button>
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div id="tablaResultadoMenus">

                        </div>
                    }

                </div>
            </div>

        </div>


    </div>

</div>

@section scripts{
    <!-- Dual Listbox -->
    <script src="~/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>

    <script src="~/js/jquery.unobtrusive-ajax.js"></script>

    <script src="~/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
    <script type="text/javascript">

        function PermisosSuccess(data) {
            //  $(".footable").footable();
            makeBootstrapTable("PermisosTable");
            $('.textoXeditable').editable({
                container: 'body',
                source: [
                    { value: 2, text: 'SOLO LECTURA' },
                    { value: 1, text: 'PERMITIR' },
                    { value: 0, text: 'DENEGAR' }
                ],
            });
          //  makeBootstrapTable("PermisosTable");
        }
        function MenusSuccess(data) {
            $("#tablaResultadoMenus").html('');

            $("#tablaResultadoMenus").html(data);
            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160,
                selectedListLabel: 'Menus Permitidos',
                nonSelectedListLabel: 'Menus No Permitidos',
                infoText: 'Total {0}',
                infoTextFiltered: '<span class="label label-warning">Accesos a</span> {0} from {1}'
            });
        }
        function MenuCompleteUsuario() {

            var usuarioFiltro = getParameterByName("user");
            if (usuarioFiltro) {
                $("#UsuariosTable tr[data-userid='" + usuarioFiltro + "']").addClass('ACTIVA');

            }
            makeBootstrapTable("UsuariosTable");
        }
        function MenuSuccessUsuario(data) {
            $("#tablaResultadoUsuario").html('');

            $("#tablaResultadoUsuario").html(data);
           
          


        }
        function OnFailure(xhr, status) {
            alert('Error: ' + xhr.statusText);
        }
        $(document).on("change", "#IOR_ROLE", function () {
            $("#tablaResultado").html('');
            $("#form0").submit();
        });
        $(document).on("change", "#IOR_ROLE2", function () {
            $("#tablaResultadoMenus").html('');
            $("#form2").submit();
        });
        $(document).on("change", "#IOR_ROLE3", function () {
            $("#tablaResultadoUsuario").html('');
            $("#form1").submit();
        });

        //$(document).on("shown.bs.tab", "a[data-toggle='tab']", function (e) {

        //    $(".select2").select2({
        //        theme: "bootstrap",
        //        width: "100%"
        //    });
            
        //});

        $(document).ready(function () {
            $("li[data-view]").removeClass('active');
            $("li[data-view]").removeClass('active');
            $("[data-view=ViewPermisos]").addClass("active");
            $("[data-view=ViewPermisos]").parents("ul").removeClass("collapse");
            $("#IOR_ROLE").select2({
               theme: "bootstrap",
                width: "300px"
            });
            if (window.location.hash != "") {
                $('a[href="' + window.location.hash + '"]').click();
                if (window.location.hash === "#tab-usuarios") {
                    var valor = getParameterByName("perfil");
                    var $example = $("#IOR_ROLE3").select2({ theme: "bootstrap" })
                        .val(valor).trigger('change.select2');

                    $("#form1").submit();
                }
            }
        });






    </script>

}

