@model List<RadioWeb.Models.USUARIO>


<table id="UsuariosTable" class="table table-hover  table-bordered " data-height="700"       data-search="true"   >
    <thead>
        <tr>
            <th data-sortable="true">Nombre</th>
            <th data-sortable="true">Login</th>
            <th data-sortable="true">Perfil</th>
            <th data-sortable="true">Creador por</th>
            <th>Privilegiado</th>
            <th data-sortable="true">Referidor asociado</th>
            <th data-sortable="true">Mutua asociada</th>
            <th data-sortable="true">Centro asociado</th>
            <th data-sortable="true">Citacion Directa</th>
            <th data-sortable="true">Permitir Peticiones</th>
            <th>...</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr data-userid="@item.IDUSER">
                <td>@item.NOME</td>
                <td>@item.LOGIN</td>
                <td>

                    @item.DESCPERFILWEB


                </td>
                <td>@item.OWNER</td>
                <td>@item.PRIVILEGIADO</td>
                <td>
                    @Html.DisplayFor(modelItem => item.IOR_COLEGIADO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IOR_ENTIDADPAGADORA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IOR_CENTROEXTERNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CITACIONONLINE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREARPETICIONES)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Users",new {oid=item.IDUSER})">Editar</a>
                </td>
            </tr>
        }






    </tbody>
</table>




