@model RadioWeb.Models.CambioPassword

@{
    /**/

    ViewBag.Title = "Edit";
}

@section Estilos{
    <link href="~/css/custom/passwordValidator.css" rel="stylesheet">
}


@using (Html.BeginForm("CambioPassword", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IDUSER)
    <div class="ibox-title">
        <h5>
            <strong>
                Cambio de contraseña - @Model.LOGIN
            </strong>
        </h5>
    </div>

    <div class="ibox-content p-xl" style="padding-top:5px;">



        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDUSER)

            <p class="help-block text-danger">@ViewBag.Error</p>

            <div class="form-group">
                @Html.LabelFor(model => model.PasswordOld, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PasswordOld)
                @Html.ValidationMessageFor(model => model.PasswordOld, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password1, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Password1)
                @Html.ValidationMessageFor(model => model.Password1, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password2, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.Password2)
                @Html.ValidationMessageFor(model => model.Password2, "", new { @class = "text-danger" })
            </div>

            <div class="alert alert-warning password-alert" style="" role="alert">
                <ul>
                    <li class="requirements leng"><i class="fa fa-check green-text"></i><i class="fa fa-times red-text"></i> Su contraseña debe tener al menos 6 caracteres.</li>
                    <li class="requirements big-letter"><i class="fa fa-check green-text"></i><i class="fa fa-times red-text"></i> Su contraseña debe tener al menos una letra mayúscula.</li>
                    <li class="requirements num"><i class="fa fa-check green-text"></i><i class="fa fa-times red-text"></i> Su contraseña debe tener al menos un número.</li>
                    <!--<li class="requirements special-char"><i class="fa fa-check green-text"></i><i class="fa fa-times red-text"></i> Your password must have at least 1 special char.</li>-->
                </ul>
            </div>



            <div class="form-group">

                <input id="btnSubmit" type="submit" value="Cambiar Contraseña" class="btn btn-primary btn-block" />

            </div>
        </div>
    </div>

}

@section scripts
{
    <script src="@RadioWeb.Helpers.UrlExtender.ContentLastWrite(@Url, "~/js/custom/passwordValidator.js")"></script>
}
