@model List<RadioWeb.Models.EXPLORACION>
@using RadioWeb.Models;
@{

    RadioWeb.Models.USUARIO oUsuarioLogeado = (RadioWeb.Models.USUARIO)Session["Usuario"];
    ViewBag.Title = "Alta Exploración";

}

<div class="row">
    <div id="indicacionesMutua" class="col-lg-12 ">
        <div class="ibox" style="margin-bottom: 5px;">
            <div class="ibox-title">
                <h5>@Model.First().ENTIDAD_PAGADORA.NOMBRE</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content " style="padding-bottom: 10px; max-height: 110px; overflow-y: scroll;">
                @Html.Raw(@Model.First().INFOMUTUA.TEXTO)
            </div>
        </div>

    </div>
    <div id="textoDeLaMutua" class="col-lg-12 hide">
        <div class="ibox float-e-margins" style="margin-bottom: 5px;">
            <div class="ibox-content " style="padding-bottom: 10px;">
            </div>
        </div>
    </div>
</div>
@if (Model.Count > 1)
{
    using (Html.BeginForm("GuardarPaso3", "AgendaMulti", FormMethod.Post))
    {
        <div id="GuardarPaso3" class="ibox-content float-e-margins">

            @{
                int j = 0;
                foreach (EXPLORACION item in Model)
                {
                    <input type="hidden" data-indice="@j"
                           name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].FECHA" })"
                           id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].FECHA" })" value="@item.FECHA.Value.ToShortDateString()" />

                    <input type="hidden" data-indice="@j"
                           name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].HORA" })"
                           id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].HORA" })" value="@item.HORA" />

                    <input type="hidden" data-indice="@j"
                           name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_PACIENTE" })"
                           id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_PACIENTE" })" value="@item.IOR_PACIENTE" />


                    <input type="hidden" class="entidadPagadora" data-indice="@j"
                           name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_ENTIDADPAGADORA" })"
                           id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_ENTIDADPAGADORA" })" value="@item.IOR_ENTIDADPAGADORA" />

                    <input type="hidden" class="aparatoExploracion" data-indice="@j" name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_APARATO" })"
                           id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_APARATO" })" value="@item.IOR_APARATO" />
                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3><a href="#">@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(item.FECHA.Value.DayOfWeek) @item.FECHA.Value.ToString("dd MMMM yyyy") @item.HORA - @item.DAPARATO.COD_FIL</a></h3>
                        <div class="form-horizontal">
                            <div class="form-group ">
                                @if (item.DAPARATOS != null && item.DAPARATOS.Count > 0)
                                {
                                    <div class="col-sm-3">

                                        <label class="control-label">Aparato</label>

                                        @{

                                            <select data-indice="@j" id="@String.Concat(new string[] { "DAPARATO[", @j.ToString(), "].IOR_APARATO" })"
                                                    name="@String.Concat(new string[] { "DAPARATO[", @j.ToString(), "].IOR_APARATO" })" class="select2 form-control ddlAparatosMutua" data-live-search="true">
                                                @foreach (RadioWeb.Models.DAPARATOS aparato in item.DAPARATOS)
                                                {

                                                    <option data-cod="@aparato.COD_FIL" data-text-value="@aparato.DES_FIL" value="@aparato.OID">@aparato.COD_FIL-@aparato.DES_FIL </option>
                                                }
                                            </select>
                                        }

                                    </div>
                                }
                                <div class="col-sm-3">
                                    <label class="control-label">Exploracion</label>
                                    <select data-indice="@j" name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_TIPOEXPLORACION" })"
                                            id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].IOR_TIPOEXPLORACION" })" class="selectpicker @String.Concat("ddlExploraciones",j) select2 form-control">
                                        @foreach (RadioWeb.Models.APARATOS explora in item.EXPLORACIONESCONTARIFA)
                                        {
                                            if (item.APARATO != null && (explora.FIL.Trim() == item.APARATO.FIL.Trim()))
                                            {
                                                <option selected="selected" data-text-value="@explora.FIL" value="@explora.OID">@explora.FIL-@explora.DES_FIL </option>
                                            }
                                            else
                                            {
                                                <option data-text-value="@explora.FIL" value="@(explora.OID == -1 ? "" : explora.OID.ToString()) ">@explora.FIL - @explora.DES_FIL </option>
                                            }

                                        }
                                    </select>

                                </div>
                                <div class="col-sm-6">
                                    <label for="TextoImprimible" class="control-label">Texto Imprimible</label>
                                    <textarea name="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].TEXTO" })"
                                              id="@String.Concat(new string[] { "EXPLORACION[", @j.ToString(), "].TEXTO" })"
                                              class="form-control" rows="2" style="text-transform: none;">@item.TEXTO</textarea>

                                </div>

                            </div>
                        </div>



                    </div>
                    j = j + 1;
                }
            }
        </div>


        <div class="ibox-footer" style="min-height: 50px;">
            <p class="pull-right">
                <button class="btn btn-primary" type="submit">Crear Exploraciones</button>
            </p>

        </div>
    }


    @section scripts{
        <script src="@RadioWeb.Helpers.UrlExtender.ContentLastWrite(@Url, "~/js/custom/AgendaMultiple/Alta.js")"></script>


        <script>
            $(document).ready(function () {
                //$(".select2").select2();
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $('#FECHAN').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    language: "es",
                    format: "dd/mm/yyyy"
                });

            });


        </script>

    }
}
else
{
    using (Html.BeginForm("GuardarPaso3", "Exploracion", FormMethod.Post))
    {

        <input type="hidden" name="IOR_PACIENTE" value="@Model.First().IOR_PACIENTE" />
        <input type="hidden" name="FECHA" value="@Model.First().FECHA" />
        <input type="hidden" name="USERNAME" value="@Model.First().USERNAME" />
        <input type="hidden" name="IOR_PETICIONPRUEBAORIGEN" id="IOR_PETICIONPRUEBAORIGEN" value="@Model.First().IOR_PETICIONPRUEBAORIGEN" />
        <input type="hidden" name="IOR_MASTER" id="IOR_MASTER" value="@Model.First().IOR_MASTER" />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="margin-bottom: 5px;">
                    <div class="ibox-content " style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-2">
                                <a onclick="javascript:history.back();" id="btnAnterior" class="btn  btn-sm btn-warning" role="button">< Anterior</a>
                            </div>
                            <div class="col-md-5">
                                <h3 style="float:right;">
                                    @Model.First().PACIENTE.PACIENTE1 - @Model.First().FECHA.Value.ToShortDateString() @Model.First().HORA
                                </h3>

                            </div>
                            <div class="col-md-3">
                                @if (Model.First().IOR_MASTER > 0)
                                {
                                    EXPLORACION exploracionRelacionada = (EXPLORACION)ViewBag.EXPLORACIONRELACIONADA;
                                    <h3 style="float:right;color:red;font-weight:bold;">
                                        EXPLORACION RELACIONADA:
                                        @exploracionRelacionada.FECHA.Value.ToShortDateString()
                                        @exploracionRelacionada.HORA
                                        @exploracionRelacionada.TIPOEXPLORACIONDESC
                                    </h3>
                                }
                            </div>

                            <div class="col-md-2 pull-right">
                                <button type="submit" id="btnGuardarAltaExploracion" class="btn btn-sm btn-primary pull-right WsAltaExploracion">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-12">
                <div class="ibox">
                    <div id="GuardarPaso3" class="ibox-content float-e-margins">

                        @{
                            //EN la tabla mutuas el campo OWNER difencia esto
                            //1.- Privado
                            //2.- Mutuas.
                            //3.- ICS
                            switch (@Model.First().ENTIDAD_PAGADORA.OWNER)
                            {
                                case 1:
                                    Html.RenderPartial("PartialMutuasNew", Model.First());
                                    break;
                                case 2:
                                    Html.RenderPartial("PartialMutuasNew", Model.First());
                                    break;
                                case 3:
                                    Html.RenderPartial("PartialICS");
                                    break;
                                default:
                                    break;
                            }
                        }

                    </div>


                </div>

            </div>




        </div>
    }



    @section scripts{
        <script src="@RadioWeb.Helpers.UrlExtender.ContentLastWrite(@Url, "~/js/custom/Exploracion/Alta.js")"></script>


        <script>
            $(document).ready(function () {
                $('form').submit(function () {
                    //$("input[type='submit']", this)
                    //    .val("Enviando...")
                    //    .attr('disabled', 'disabled');
                    var l = $('#Guardar').addClass('btn-info').ladda();
                    l.ladda('start');
                    return true;
                });

                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });



                $('#FECHAN').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    language: "es",
                    format: "dd/mm/yyyy"
                });

            });


        </script>

    }
}










