@model RadioWeb.Models.EXPLORACION

@{

    RadioWeb.Models.USUARIO oUsuarioLogeado = (RadioWeb.Models.USUARIO)Session["Usuario"];
}

<div class="row form-horizontal ">
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-sm-12 ">
                <input type="hidden" id="FECHA" name="FECHA" value="@Model.FECHA" />
                <input type="hidden" id="DIASEMANA" name="DIASEMANA" value="@Model.DIASEMANA" />
                <label for="HORA" class=" control-label">HORA</label>

                @Html.EditorFor(e => e.HORA, new
    {
        htmlAttributes = new { data_mask = "99:99", @class = "time text-center" },

    })
                @Html.ValidationMessageFor(m => Model.HORA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <label>
                    <input type="radio" value="PRI" name="radio1" class="TipoExploracion i-checks ">
                    PRIVADO
                </label>

                <label>
                    <input type="radio" value="MUT" class="TipoExploracion i-checks" name="radio1" checked="checked">
                    MUTUA
                </label>

            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-12" style="text-align: center; margin-top: 10px;">

                @Html.DisplayFor(e => e.ESTADODESCRIPCION)
                @*<h3 style="color:@color">@Model.ESTADODESCRIPCION </h3>*@
                @if (Model.INTOCABLE == "T")
                {
                    <span class="label label-danger">INTOCABLE</span>

                }
            </div>

        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">

            <div class="col-sm-4 ">
                <label for="IOR_ENTIDADPAGADORA" class=" control-label">Mutua</label>
                @{
        bool deshabilitar = false;
        if (Model.FACTURADA == "T" || Model.INTOCABLE == "T")
        {
            deshabilitar = true;
        }
            @Html.EditorFor(e => e.IOR_ENTIDADPAGADORA, new { disabled = deshabilitar })
            @Html.ValidationMessageFor(model => model.IOR_ENTIDADPAGADORA, "", new { @class = "text-danger" })
                }


            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="IDCITAONLINE" class="control-label">Cita Externa</label>
                        <input type="text" @(Model.IOR_ENTIDADPAGADORA == 11042 && !String.IsNullOrEmpty(Model.IDCITAONLINE) ? "readonly = \"true\"" : "") value="@(!String.IsNullOrEmpty( Model.IDCITAONLINE) ? Model.IDCITAONLINE : "")" class="form-control " id="IDCITAONLINE" name="IDCITAONLINE">

                    </div>
                    <div class="col-sm-8 right">
                        <br />
                        <label class="checkbox-inline">
                            <input type="checkbox" class="pagado" name="PAGADO" id="PAGADO" @( Model.PAGADO == "T" ? "checked" : "")>
                            <strong>Pagado</strong>
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" class="permiso" id="PERMISO" name="PERMISO" @( Model.PERMISO == "T" ? "checked" : "")>
                            <strong>Permiso</strong>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" class="gds" id="GDS" name="GDS" @( Model.GDS == "T" ? "checked" : "")>
                            <strong>GDS</strong>
                        </label>
                    </div>
                </div>





            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-4 ">
                <label for="IOR_APARATO" class="control-label">Aparato</label>


                @Html.EditorFor(e => e.IOR_APARATO, new { disabled = deshabilitar })

                @Html.ValidationMessageFor(model => model.IOR_APARATO, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <label for="NHCAP" class="control-label">Autoriza</label>
                <input type="text" name="NHCAP" id="NHCAP" value="@Model.NHCAP" class="form-control ">
            </div>
            <div class="col-sm-3">
                <label for="Q_ALFA" class="control-label">DESCUENTO</label>


                @Html.DropDownListFor(m => Model.Q_ALFA,
                                                         new SelectList(Model.Q_ALFAS, "CODIGO", "DESCRIPCION"),
                                                     !deshabilitar ? new { @class = "form-control select2" } as object : new { @class = "form-control select2", @disabled = "disabled" } as object)

            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-4 ">
                <label for="IOR_TIPOEXPLORACION" class="control-label">Explo.</label>

                @{
                    <select id="IOR_TIPOEXPLORACION" name="IOR_TIPOEXPLORACION" @(deshabilitar ? "readonly = \"true\" disabled=\"disabled\"" : "") class="select2 form-control" data-live-search="true">
                        @if (Model.EXPLORACIONESCONTARIFA != null)
                        {
                            foreach (RadioWeb.Models.APARATOS item in Model.EXPLORACIONESCONTARIFA)
                            {
                                if (Model.APARATO != null && (item.OID == Model.IOR_TIPOEXPLORACION))
                                {
                                    <option selected="selected" data-text-value="@item.FIL" value="@item.OID">@item.FIL-@item.DES_FIL </option>
                                }
                                else
                                {
                                    <option data-text-value="@item.FIL" value="@(item.OID == -1 ? "-1" : item.OID.ToString())">@item.FIL - @item.DES_FIL </option>
                                }
                            }
                        }

                    </select>
                }


            </div>
            <div class="col-sm-3">
                <label for="RECOGIDO" class="control-label">Recogido</label>

                <div class="input-group m-b">
                    <span class="input-group-addon">
                        <input type="checkbox" class="recogido" name="RECOGIDO" id="RECOGIDO" @( Model.RECOGIDO == "T" ? "checked" : "")>
                    </span>

                    <input type="text" name="FECHADERIVACION" id="FECHADERIVACION" value="@( Model.FECHADERIVACION.HasValue ? Model.FECHADERIVACION.Value.ToShortDateString() : "")" class="form-control fecha-picker ">

                    <span class="input-group-addon">    <span class="badge " id="countOtrasExploraciones" title="Otras Exploraciones Recogidas">0</span></span>
                </div>


            </div>

            <div class="col-sm-2">
                <label for="FECHA_FAC" class="control-label">F.Fac.</label>

                <div class="input-group date">
                    <input type="text" @(deshabilitar ? "readonly = \"true\" disabled=\"disabled\"" : "") value="@( Model.FECHA_FAC.HasValue ? Model.FECHA_FAC.Value.ToShortDateString() : "")" class="form-control fecha-picker" id="FECHA_FAC" name="FECHA_FAC">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <label for="CANTIDAD" class="control-label  @((oUsuarioLogeado.VECANTIDADES == 0)? "hide":"")">Precio</label>
                <input id="CANTIDAD" name="CANTIDAD" @(deshabilitar ? "readonly = \"true\" " : "") type="text" class="form-control money @(deshabilitar ? "disabled" : "")   @((oUsuarioLogeado.VECANTIDADES == 0)? "hide":"")"
                       value="@Model.CANTIDAD" />
                <p class="help-block text-danger"> @Html.ValidationMessageFor(m => Model.CANTIDAD)</p>
            </div>
            <label for="inputMoneda" class="col-sm-1 control-label  @((oUsuarioLogeado.VECANTIDADES == 0)? "hide":"")" style="text-align: left; padding-left: 0px;">
                <br />
               @* @Model.MONEDA.SIMBOLO*@
            </label>

            <div class="col-sm-2">
                <label for="PESO" class=" control-label ">Peso</label>
                <input type="text" name="PESO" id="PESO" value="@Model.PESO" class="form-control ">
            </div>


            <div class="col-sm-2">
                <label for="inputDeposito" class=" control-label">Depósito</label>
                @if (Model.DEPOSITO != -1)
                {
                    <input type="text" name="DEPOSITO" id="DEPOSITO" value="@Model.DEPOSITO" class="form-control">
                }
                else
                {
                    <input type="text" name="DEPOSITO" value="" class="form-control">
                }
            </div>
            <div class="col-sm-2">
                <label for="REGISTRE" class=" control-label">REGISTRE</label>
                <input id="REGISTRE" name="REGISTRE" placeholder="Nº REGISTRE" type="text" class="form-control" value="@Model.REGISTRE" />
            </div>

        </div>
    </div>
   
</div>
