@model RadioWeb.Models.APARATOS

@{
    ViewBag.Title = "Mantenimiento de Tipos de Exploraciones";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OID)
    @Html.HiddenFor(model => model.CID)
    @Html.HiddenFor(model => model.BORRADO)
    @Html.HiddenFor(model => model.IOR_EMPRESA)
    @Html.HiddenFor(model => model.OWNER)
    @Html.HiddenFor(model => model.CANAL)
    @Html.HiddenFor(model => model.MODIF)
    @Html.HiddenFor(model => model.COD_FIL)
    @Html.HiddenFor(model => model.USERNAME)

    <div class="tabs-container">
        <ul class="nav nav-tabs">

            <li class="active">
                <a data-toggle="tab" href="#general">Tipo de exploración</a>
            </li>

        </ul>

        <div class="tab-content form-horizontal">
            <div id="general" class="tab-pane active">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.FIL)
                            @Html.EditorFor(model => model.FIL)
                            @Html.ValidationMessageFor(model => model.FIL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.DES_FIL)
                            @Html.EditorFor(model => model.DES_FIL)
                            @Html.ValidationMessageFor(model => model.DES_FIL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(model => model.VERS)
                            @Html.DropDownListFor(model => model.VERS, new List<SelectListItem>()
                            {
                                new SelectListItem() { Text = "Si", Value = "1" },
                                new SelectListItem() { Text = "No", Value = "0" }
                            },
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VERS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO1)
                            @Html.EditorFor(model => model.APARATO1)
                            @Html.ValidationMessageFor(model => model.APARATO1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO2)
                            @Html.EditorFor(model => model.APARATO2)
                            @Html.ValidationMessageFor(model => model.APARATO2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO3)
                            @Html.EditorFor(model => model.APARATO3)
                            @Html.ValidationMessageFor(model => model.APARATO3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO4)
                            @Html.EditorFor(model => model.APARATO4)
                            @Html.ValidationMessageFor(model => model.APARATO4, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO5)
                            @Html.EditorFor(model => model.APARATO5)
                            @Html.ValidationMessageFor(model => model.APARATO5, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.APARATO6)
                            @Html.EditorFor(model => model.APARATO6)
                            @Html.ValidationMessageFor(model => model.APARATO6, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.C0MEN1)
                            @Html.EditorFor(model => model.C0MEN1)
                            @Html.ValidationMessageFor(model => model.C0MEN1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.COMEN2)
                            @Html.EditorFor(model => model.COMEN2)
                            @Html.ValidationMessageFor(model => model.COMEN2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.COMEN3)
                            @Html.EditorFor(model => model.COMEN3)
                            @Html.ValidationMessageFor(model => model.COMEN3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(model => model.SALIDA_INTERNET)
                            @Html.DropDownListFor(model => model.SALIDA_INTERNET, new List<SelectListItem>()
                            {
                                new SelectListItem() { Text = "Si", Value = "1" },
                                new SelectListItem() { Text = "No", Value = "0" }
                            },
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SALIDA_INTERNET, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.TEXTO_INTERNET)
                            @Html.EditorFor(model => model.TEXTO_INTERNET)
                            @Html.ValidationMessageFor(model => model.TEXTO_INTERNET, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(model => model.SMS)
                            @Html.DropDownListFor(model => model.SMS, new List<SelectListItem>()
                            {
                                new SelectListItem() { Text = "Si", Value = "1" },
                                new SelectListItem() { Text = "No", Value = "0" }
                            },
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SMS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.BootstrapLabelFor(m => m.TEXTO)
                            @Html.EditorFor(model => model.TEXTO)
                            @Html.ValidationMessageFor(model => model.TEXTO, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="user-button ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <i class="btn btn-default btn-sm btn-block">@Html.ActionLink("Volver a Lista de Grupos", "Index", "Grupos", new { id = Model.OWNER, tab = "tabTexploracion" }, null)</i>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">
                        <i class="fa fa-save"></i>Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

}






