@model IEnumerable<RadioWeb.ViewModels.Informes.VMExploNoInformadas>

<table id="NoInformadas" class="table table-bordered footable" data-search="true" data-height="600">
    <thead>
        <tr>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.FECHA)
            </th>

            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.PACIENTE)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.NOM_MED)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.INFORMADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MEDREV)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.FECHAMAXIMA)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.DIAS_ENTREGA)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.FECHA_RECOGIDA)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOR_PACIENTE)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.COD_MUT)
            </th>

            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.FIL)
            </th>
            <th>
                ...
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr data-oidPaciente="@item.IOR_PACIENTE" data-oidExploracion="@item.OID">
            <td>
                <span style="display:none">@item.FECHA.Value.ToString("yyyyMMdd")</span>

                @Html.DisplayFor(modelItem => item.FECHA)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PACIENTE)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.IOR_MEDICO)
            </td>
            <td width="10">
                @if (item.IOR_MASTER > 0)
                {
                    <a href="/Informe/Duplicar/@item.IOR_MASTER">
                        <i class="fa fa-clipboard" style="font-size: 12px;   color:#ffb400;"
                           title="Ir a Informe exploración relacionada"></i>
                    </a>
                }
                else
                {
                    if (item.INFORMADO)
                    {
                        <a href="/Informe/Duplicar/@item.OID">
                            <i class="fa fa-clipboard" style="font-size: 12px; color: green;"
                               title="Informada"></i>
                        </a>
                    }
                    else
                    {
                        <a href="/Informe/Duplicar/@item.OID">
                            <i class="fa fa-clipboard" style="font-size: 12px; color: red;"
                               title="No Informada"></i>
                        </a>
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MEDREV)
            </td>
            <td>
                @if (item.FECHAMAXIMAADMIN.HasValue)
                {
                    <span style="display:none">@item.FECHAMAXIMAADMIN.Value.ToString("yyyyMMdd")</span>
                }
                @Html.EditorFor(modelItem => item.FECHAMAXIMAADMIN)
            </td>
            <td>
                @if (item.FECHAMAXIMA.HasValue)
                {
                    if (item.DIAS_ENTREGA <= 0)
                    {
                        <span class="badge badge-danger">Hace @Math.Abs(@item.DIAS_ENTREGA) días</span>
                    }
                    else if (item.DIAS_ENTREGA == 0)
                    {
                        <span class="badge badge-warning">HOY</span>
                    }
                    else
                    {
                        <span class="badge badge-primary">Dentro de @Math.Abs(@item.DIAS_ENTREGA) días</span>
                    }
                }

            </td>
            <td>
                @if (item.FECHA_RECOGIDA.HasValue)
                {
                    <span style="display:none">@item.FECHA_RECOGIDA.Value.ToString("yyyyMMdd")</span>
                }
                @Html.DisplayFor(modelItem => item.FECHA_RECOGIDA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IOR_PACIENTE)
            </td>
            <td>
                @if (ViewBag.CampoMutua == "NOMBRE")
                {
                    @Html.DisplayFor(modelItem => item.DES_MUT)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.COD_MUT)
                }

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FIL)
            </td>


            <td class="text-right">
                <a data-oid="@item.OID" class="btn btn-white btn-bitbucket btnVerFoto">
                    <i class="fa fa-camera"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>