@model List<RadioWeb.Models.LISTADIA>
@{
    RadioWeb.Models.USUARIO oUsuarioLogeado = (RadioWeb.Models.USUARIO)Session["Usuario"];
}
<table id="ExploracionesList" class="table clicable table-bordered table-stripped"
       data-pagination="true" data-search="true" data-page-size="10" data-page-list="[10,15,20]">
    <thead>
        <tr>
            <th data-hide="phone">I</th>
            <th data-sortable="true" data-type="date" data-format-string="DD/MM/YYYY">Fecha</th>
            <th>Hora</th>
            <th>Estado</th>

            <th>C</th>
            <th><span title="Informada">IN</span></th>
            <th><span title="Médico">ME</span></th>
            <th><span title="Técnico">TE</span></th>
            <th>ID</th>
            <th>MUT</th>
            <th>AUT</th>
            <th>APA</th>
            <th>EXP</th>
            @if (oUsuarioLogeado.VECANTIDADES == 1)
            {
                <th><span title="PRECIO">PR</span></th>
                <th><span title="FACTURADA">FA</span></th>
                <th><span title="APLAZADA">AP</span></th>
                <th><span title="NO FACTURABLE">NF</span></th>
            }
            <th data-hide="phone">TEXTO</th>
            <th data-hide="phone">....</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr data-oid="@item.OID" data-fecha="@item.FECHA.ToString("dd-MM-yyyy")"
                data-aparato="@item.COD_FIL" data-centro="@item.CENTRO" data-estado="@item.ESTADO"
                style="color: @item.COLOR" class="hasmenu">

                <td class="hidden-xs ">
                    <input type="checkbox" onclick="return false" checked="@item.INTOCABLE" />
                </td>
                <td>
                    @Html.ActionLink(
                                                                     linkText: @item.FECHA.ToShortDateString(),
                                                                     actionName: "Details",
                                                                     controllerName: "Exploracion",
                                                                     routeValues: new
                                                                     {
                                                                         oid = @item.OID,
                                                                         ReturnUrl = "/Paciente/Details&ior_paciente=" + item.IOR_PACIENTE + "&TraerInformesYExplos=true"


                                                                     },
                                                                     htmlAttributes: new { @style = "color:" + @item.COLOR, @class = "linkExploracion" }
                                                                 )


                </td>
                <td>
                    <span style="@item.ESTADO">@item.HORA</span>

                </td>
                <td class="hidden-xs">
                    @switch (item.ESTADO)
                    {

                        case "0":
                            <span class="label badge-PENDIENTE  float-right">Pendiente</span>
                            break;
                        case "1":
                            <span class="label badge-borrado float-right">Borrada</span>
                            break;
                        case "2":
                            <span class="label badge-presencia float-right">Presencia</span>
                            break;
                        case "3":
                            <span class="label badge-confirmado float-right">Confirmado</span>
                            break;
                        case "4":
                            <span class="label panel-NoPresentado float-right">No Presentado</span>
                            break;
                        case "5":
                            <span class="label panel-NoPresentado float-right">Llama Anulando</span>
                            break;
                        default:
                            @:""
                            break;


                    }

                </td>

                <td class="hidden-xs" style="background-color:@item.CID">&nbsp;</td>

                <td style="text-align: center;">
                    <span class="hidden">@item.INFORMADA</span>
                    @if (item.INFORMADA=="T")
                    {
                        //recepción Manresa
                        if (oUsuarioLogeado.PERFIL == 202)
                        {
                            <a><i class="fa fa-clipboard" style="font-size: 12px; color: green;" title="Informada"></i></a>
                        }
                        else
                        {
                            //al ser una exploracion hija de otra no dejamos informarla y ponemos el icono en amarillo
                            if (item.IOR_MASTER > 0)
                            {
                                <a href="/Informe/Duplicar/@item.IOR_MASTER">
                                    <i class="fa fa-copy" style="font-size: 14px;  color:#ffb400;"
                                       title="Ir a Informe exploración relacionada"></i>
                                </a>
                            }
                            else
                            {
                                <a href="/Informe/Duplicar/@item.OID">
                                    <i class="fa fa-clipboard" style="font-size: 14px; color: green;"
                                       title="Informada"></i>
                                </a>
                            }

                        }

                    }
                    else
                    {


                        if (item.IOR_MASTER > 0)
                        {
                            <a href="/Informe/Duplicar/@item.IOR_MASTER">
                                <i class="fa fa-copy" style="font-size: 14px; color:red;"
                                   title="Exploración Relacionada no informada"></i>
                            </a>
                        }
                        else
                        {
                            if (item.ESTADO == "2" || item.ESTADO == "3")
                            {
                                <a href="/Informe/Duplicar/@item.OID">
                                    <i class="fa fa-clipboard" style="font-size: 14px; color: red;" title="No Informada"></i>
                                </a>
                            }
                            else
                            {
                                <i class="fa fa-clipboard" style="font-size: 12px; color: red;" title="No Informada"></i>
                            }

                        }
                    }


                </td>

                <td><span>@item.MEDICO</span></td>
                <td><span data-bind="text: TECNICO">@item.TECNICO</span></td>
                <td><span style="color:@item.COLOR">@item.OID</span></td>
                <td><span style="color:@item.COLOR">@item.MUTUA</span></td>
                <td><span style="color:@item.COLOR">@item.NHCAP</span></td>

                <td>
                    <a style="color:@item.COLOR" href="#" data-toggle="popover" data-placement="auto top" data-content="@item.FIL">
                        @item.COD_FIL
                    </a>


                </td>

                <td><span style="color:@item.COLOR">@item.EXPLO</span></td>
                @if (oUsuarioLogeado.VECANTIDADES == 1)
                {
                    <td>

                        <span data-bind="text: CANTIDAD">@item.CANTIDAD</span>


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACTURADA)



                    </td>
                    <td>
                        @if (item.APLAZADO)
                        {
                            <i style="color: black;" class="fa fa-dollar"></i>
                        }


                    </td>
                    <td>

                        @if (item.NOFACTURAB)
                        {
                            <i style="color: black;" class="fa fa-dollar"></i>
                        }
                    </td>

                }
                @if (!String.IsNullOrEmpty(item.TEXTO))
                {

                    <td class="ui-popover textoExploracion hidden-xs hidden-md" style="min-width: 200px;">

                        <span data-toggle="tooltip" data-placement="left" title="@item.TEXTO" style="color: @item.COLOR">
                            <a href="#" data-type="textarea" class="textoXeditable" data-url="/Exploracion/EditarTexto" id="@item.OID"
                               data-pk="@item.OID" data-value="@item.TEXTO" data-title="Editar texto">@item.SUBTEXTO</a>
                        </span>
                    </td>
                }
                else
                {
                    <td class="textoExploracion hidden-xs hidden-md" data-oid="@item.OID">
                        <span style="color: @item.COLOR">@item.SUBTEXTO</span>
                        <span data-toggle="tooltip" data-placement="left" title="Agregar Texto" style="color: @item.COLOR">
                            <a href="#" data-type="textarea" style="color:@item.COLOR" class="textoXeditable" data-url="/Exploracion/EditarTexto" id="@item.OID"
                               data-pk="@item.OID" data-value="@item.TEXTO" data-title="Editar texto">...</a>
                        </span>

                    </td>

                }

                @if (item.INTOCABLE == false && item.ESTADO != "3")
                {
                    <td>
                        <div class="btn-group">
                            <button type="button" id="btnBorrar" class="btn btn-danger btn-xs" data-oid="@item.OID" data-hhora="@item.HORA" data-estado="@item.ESTADO">Borrar</button>
                            <button type="button" id="btnBorrarMasOpciones" class="btn btn-danger btn-xs dropdown-toggle " data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="btnNoPresentado" data-oid="@item.OID" data-hhora="@item.HORA" data-estado="@item.ESTADO">No presentado</a></li>
                                <li><a href="#" id="btnLlamaAnulando" data-oid="@item.OID" data-hhora="@item.HORA" data-estado="@item.ESTADO">Anula Paciente</a></li>
                            </ul>
                        </div>
                    </td>
                }
                else
                {
                    <td class="hidden-xs">
                        &nbsp;
                    </td>
                }





            </tr>
        }





</table>



