@model List<RadioWeb.Models.PACIENTE>

@foreach (var paciente in Model)
{
    <tr>
        
        <td>
            @paciente.PACIENTE1
        </td>
        <td>
            @if (paciente.VIP == "T") { 
            <i class="fa fa-star fa-2x" style="   color:yellow;"></i>
            }
            
        </td>
        <td>
            @if(paciente.DIRECCIONES.Count > 0){
             
                @paciente.DIRECCIONES.First().DIRECCION1  @:-   @paciente.DIRECCIONES.First().POBLACION - ( @paciente.DIRECCIONES.First().PROVINCIA)
           
                 
            }
      

        </td>
        <td>

            @( paciente.FECHAN.HasValue ? paciente.FECHAN.Value.ToShortDateString() : "")

        </td>
        <td>@paciente.EDAD
        </td>
        <td>@paciente.DNI
        </td>
        <td class="text-right">
            <div class="btn-group">
                <button class="btn-white btn btn-xs">Ver</button>
                <button class="btn-red btn btn-xs">Eliminar</button>
            </div>
        </td>
    </tr> 
}
